<div class="main meals-show">
  <div class="container">
    <div class="meals-show-item">
      <p><%= "chef"%>
        <%= link_to(@user.name, "/users/#{@user.id}")%></p>
      <p><%= "title: #{@meal.title}"%></p>
      <p><%= "recipe: #{@meal.content}"%></p>
      <p><%= "type of meal: #{@mealType.description}"%></p>
      <div class="meal-menus">
        <% if @meal.user_id == @current_user.id %>
          <%= link_to("modify", "/meals/#{@meal.id}/edit") %>
          <%= link_to("delete", "/meals/#{@meal.id}/destroy",{method:"post"}) %>
        <%end%>
        <div class="meals-index-item">
          <%= form_tag("/comments/#{@cid}/create_r") do %>
            <p><%="reply to: #{@to_reply.message}"%></p>
            <% @meal.comments.each do |comment|%>
              <% if comment.comment_id.to_i == @cid.to_i %>
                <%= link_to(" =>#{comment.message}","/users/#{comment.user_id}")%>
                <p></p>
              <% end %>
            <% end%>
            <p>reply</p>
            <textarea name="message" required="true"></textarea>
            <p></p>
            <input type="submit" value="send">
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>