<div class="main users-new">
  <div class="container">
    <h1 class="form-heading">Modify the user information</h1>
    <div class="form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag({controller: "users", action: "update"}, method: :put) do%>
          <%#= form_tag("/users/#{@user.id}") do%>
            <p>user name</p>
            <input name="user_name" value="<%=@user.name%>" required="true">
            <p>email</p>
            <input placeholder="has to include @ and ."  name="email" value="<%=@user.email%>" required="true">
            <p>password</p>
            <input placeholder="4-8 numbers or characters" name="password" value="<%=@user.password%>" type="password" required="true">
            <input type="submit" value="save">
          <%end%>
        </div>
      </div>
    </div>
  </div>
