<h2>Here we are, let's combined pdf... :)</h2>
<h4 class="users-heading">all pdfs</h4>
<%= form_for @request,:url => {controller: c_name, action: "create_book"}, 
 multipart: true do |f| %>
  <% for meal in @meals %>
    <%= check_box_tag "request[pdfs][]", meal.id, false, :id => meal.id %>
    <%= meal.title %>
  <% end %>
  <p></p>
  <label for= "title">Title</label>
  <%= f.text_field :title, :class => "form-control"%>
  <p></p>
  <%= f.submit :class => "btn btn-success  mb-3 float-right" %>
<%end%>
