<div class="about-main">
  <h2>Trial of http(HOME)</h2>
  <p>
    Here is a place to practice :)
  </p>
  <%= '@stack_exchange.users["items"][0]'%>
  <h4><%=  pp @stack_exchange.users["items"][0] %></h4>
  <%= '@stack_exchange.users["items"][0]["badge_counts"]'%>
  <h4><%=  pp @stack_exchange.users["items"][0]["badge_counts"] %></h4>
  <%= '@stack_exchange.users["items"][0]["badge_counts"]["gold"]'%>
  <h4><%=  pp @stack_exchange.users["items"][0]["badge_counts"]["gold"] %></h4>
</div>
