<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">Modify the recipe name</h1>
    <%= form_tag("/meals/#{@meal.id}/update",{multipart:true}) do %>
      <div class="form">
        <div class="form-body">
          <% @meal.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>title</p>
          <textarea name="title" required="true"><%=@meal.title%></textarea>
          <p>content</p>
          <textarea name="content" required="true"><%=@meal.content%></textarea>
          <p>type</p>
          <select name="meal_type" id="typelist" >
            <% @mealTypes.each do |mealType|%>
              <option value="<%= mealType.description %>"><%=mealType.description%></option>
            <% end%>
          </select>
          <p>image(optional: choose image file(jpg, jpeg, png))</p>
          <input name="image" type="file" accept="image/*">
          <p></p>
          <input type="submit" value="send">
        </div>
      </div>
    <%end%>
  </div>
</div>