<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">Modify the recipe name</h1>
    <%= form_tag("/meals/#{@meal.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @meal.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>title</p>
          <textarea name="title"><%=@meal.title%></textarea>
          <p>content</p>
          <textarea name="content"><%=@meal.content%></textarea>
          <p>type</p>
          <input type="text" name="meal_type" list="typelist">
          <datalist id="typelist">
            <% @mealTypes.each do |mealType|%>
              <option value="<%= mealType.description %>" label="<%= mealType.description%>"></option>
            <% end%>
          </datalist>
          <p></p>
          <input type="submit" value="send">
        </div>
      </div>
    <%end%>
  </div>
</div>