<div class="main meals-index">
  <div class="container">
    <h1 class="users-heading">all meals</h1>
    <% cnt =0 %>
    <% @meals.each do |meal|%>
      <% if cnt ==0  || cnt%3==0 %>
        <div class="row">
        <% end %>
        <div class="col-md-4">
          <%if meal.image.present? %>
            <img class="img-fluid"  src="<%= "#{meal.image}"%>">
          <%else%>
            <img class="img-fluid"  src="/wait.png">
          <%end%>
          <%@nump.to_i==0? num= cnt+1 : num= cnt+1+(@nump.to_i-1)*6%>
          <h2><%=num%>: <%= meal.title %></h2>
          <%# <span class="icon-edit"></span>icon-edit %>
          <div class="text-fluid">
            <pre class="pre-scrollable">
                 <pre class="prettyprint">
                    <%= meal.content %>
                 </pre>
          </pre>
        </div>
        <p><a class="btn btn-primary" href="/meals/<%=meal.id%>" role="button">View details</a></p>
      </div>
      <% cnt += 1 %>
      <% if cnt%3==0 %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @meals%>
  <pre class="prettyprint">class Voila {
public:
  // Voila
  static const string VOILA = "Voila";

  // will not interfere with embedded <a href="#voila2">tags</a>.
}</pre>
  <p>last</p>
  <%# <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> %>
</div>
</div>
