<div class="main meals-index">
  <div class="container">
    <h1 class="users-heading">all meals</h1>
    <% cnt =0 %>
    <% @meals.each do |meal|%>
      <% if cnt ==0  || cnt%3==0 %>
        <div class="row">
        <% end %>
        <div class="col-md-4">
          <%if meal.image.present? %>
            <img width="250" height="175" src="<%= "#{meal.image}"%>">
          <%else%>
            <img width="250" height="175" src="/wait.png">
          <%end%>
          <h2><%=cnt+1%>: <%= meal.title %></h2>
          <p><%= meal.content %></p>
          <p><a class="btn btn-primary" href="/meals/<%=meal.id%>" role="button">View details</a></p>
        </div>
        <% cnt += 1 %>
        <% if cnt%3==0 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
