<div class="main meals-new">
  <div class="container">
    <h1 class="users-heading">New recipe</h1>
    <div class="form">
      <div class="form-body">
        <% @meal.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_for @meal,:url => {controller: "meals", action: "create"}, multipart: true do |f| %>
          <p>title</p>
          <%= f.text_field :title%>
          <p>content</p>
          <%= f.text_area :content%>
          <p>type</p>
          <%= f.select(:meal_type, @descriptions, {}, { :class => 'choose_the_meal_type' }) %>
          <p>image(optional: choose image file(jpg, jpeg, png))</p>
          <%= f.file_field :image, accept: 'image/*'%>
          <p></p>
          <%= f.submit%>
        <%end%>
      </div>
    </div>
  </div>
</div>