<div class="main meals-new">
  <div class="container">
    <h1 class="users-heading">New recipe</h1>
    <div class="form">
      <div class="form-body">
        <% @meal.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_for @meal,:url => {controller: "meals", action: "create"}, multipart: true do |f| %>
          <label for= "title">Title</label>
          <%= f.text_field :title, :class => "form-control"%>
          <label for= "content">Content</label>
          <%= f.text_area :content, :class => "form-control"%>
          <label for= "meal_type">Type</label>
          <%= f.select(:meal_type, @descriptions, {}, { :class => "form-control"}) %>
          <p></p>
          <label for= "image">Image(optional: choose image file(jpg, jpeg, png))</label>
          <%= f.file_field :image, accept: 'image/*' %>
          <% if @current_user.role == "premium"%>
            <label for= "premium">Premium</label>
            <%#= f.select :star, options_for_select([['premium', true], ['free', false]]) %>
            <%= f.select :star, {'premium': true, 'free': false}, {  required: true , :class => "form-control" } %>
          <% end %>
          <p></p>
          <%= f.submit :class => "btn btn-success  mb-3 float-right"%>
        <%end%>
      </div>
    </div>
  </div>
</div>
