<div class="main meals-show">
  <div class="container">
    <div class="meals-show-item">
      <!-- <p>recipe</p>  -->
      <!-- <%= "recipe of id: #{@id}"%> -->
      <!--<%= @user.name%> -->
      <div class="meal-info">
        <p><%= "chef"%>
          <%= link_to(@user.name, "/users/#{@user.id}")%></p>
        <p><%= "title: #{@meal.title}"%></p>
        <p><%= "recipe: #{@meal.content}"%></p>
        <p><%= "type of meal: #{@mealType.description}"%></p>
        <%if @meal.image.present? %>
          <img src="<%= "#{@meal.image}"%>">
        <%end%>
      </div>
      <div class="meal-menus">
        <% if @meal.user_id == @current_user.id %>
          <%= link_to("modify post", "/meals/#{@meal.id}/edit") %>
          <%= link_to("delete post", "/meals/#{@meal.id}",{method:"post"}) %>
        <%end%>
        <% if @current_user.role == "premium" && @meal.star == true%>
          <%#= link_to("generate a pdf","/users/#{@current_user.id}/thanks")%>
          <%#= link_to("generate a pdf","/export/#{@meal.id}/receipt.pdf")%>
          <%= link_to("generate a pdf","/export/#{@meal.id}/show.pdf")%>
        <% end %>
        <% @meal.comments.each do |comment|%>
          <% if comment.comment_id.blank? %>
            <div class="meals-index-item">
              <%= link_to(comment.message,"/users/#{comment.user.id}")%>
              <%#= link_to(comment.message,"/users/#{comment.commenter.id}")%>
              <div class="reply">
                <%= link_to("reply","/comments/#{comment.id}/reply")%>
                <% if comment.commenter == @current_user.id %>
                  <%= link_to("modify comment", "/comments/#{comment.id}/edit") %>
                  <%= link_to("delete comment", "/comments/#{comment.id}",{method:"post"}) %>
                <%end%>
              </div>
            </div>
          <% end %>
        <% end%>
        <%= link_to("comment", "/meals/#{@meal.id}/comments/new") %>
      </div>
    </div>
  </div>
</div>
