<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Happy recipe", "/meals") %>
        <% else %>
          <%= link_to("Happy recipe", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% current_user = User.find_by(id: session[:user_id])%>
        <% if current_user %>
          <li>
            <!--user_id:
            <%=session[:user_id]%>-->
            <%= link_to(current_user.name,"/users/#{current_user.id}") %>
          </li>
          <li>
            <%= link_to("Meals","/meals")%>
          </li>
          <li>
            <%= link_to("New meal","/meals/new")%>
          </li>
          <li>
            <%= link_to("Search meals","/meals/search")%>
          </li>
          <li>
            <%= link_to("All users","/users")%>
          </li>
          <li>
            <%= link_to("Logout", "/logout", {method: :post})%>
          </li>
        <%else%>
          <li>
            <%= link_to("About us","/about")%>
          </li>
          <li>
            <%= link_to("Sign up","/users/new")%>
          </li>
          <li>
            <%= link_to("Login","/login")%>
          </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>