<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark" >
        <!--nav class="navbar navbar-light bg-light justify-content-between" -->
        <% if @current_user %>
          <a class="navbar-brand" href="/meals">Happy recipe <span class="sr-only">(current)</span></a>
        <% else %>
          <a class="navbar-brand" href="/">Happy recipe <span class="sr-only">(current)</span></a>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <% current_user = User.find_by(id: session[:user_id])%>
            <% if current_user %>
              <li class="nav-item">
                <a class="navbar-brand" href="/users/<%=@current_user.id%>"><%=@current_user.name+ 
            "(#{@current_user.role})"%></a></li>
              <% if current_user.role == "basic"%>
                <li class="nav-item">
                  <a class=navbar-brand href="/users/upgrade">Upgrade</a>
                </li>
              <% elsif  current_user.role == "premium"%>
                <li class="nav-item">
                  <a class="navbar-brand" href="/courses/new">Create a course</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand" href="/courses">Participate a course</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand" href="/users/recipe_book">Create a book</a>
                </li>
              <% elsif current_user.role == "admin"%>
                <li class="nav-item">
                  <a class="navbar-brand" href="/admin/index">Member</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand" href="/admin/recipe_book">Create a book</a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="navbar-brand" href="/meals">Meals</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/meals/new">New meal</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/meals/search">Search meals</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/users">All users</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/http/payment">Payment</a>
              </li>
              <li class="nav-item">
                <form action="logout" method="post">
                  <a  class="navbar-brand" href="javascript:;" onclick="parentNode.submit();">Logout</a>
                  <input type="hidden" name="mess" value="logout">
                </form>
              </li>
            <%else%>
              <li class="nav-item">
                <a class="navbar-brand" href="/about">About us</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/users/new">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/http/trial">HTTP</a>
              </li>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <% if flash[:notice]%>
    <div class="flash">
      <%= flash[:notice]%>
    </div>
  <% end %>
  <%= yield %>
  <nav class="navbar fixed-bottom navbar-light" style="background-color: #ADD8E6;">
    <a class="navbar-brand" href="/about">About us</a>
  </nav>
</body>
</html>
