<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Happy recipe", "/meals") %>
        <% else %>
          <%= link_to("Happy recipe", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% current_user = User.find_by(id: session[:user_id])%>
        <% if current_user %>
          <li>
            <!--user_id:
            <%=session[:user_id]%>-->
            <%# role= Role.find_by(id: current_user.role)%>
            <%= link_to(current_user.name+" ( #{current_user.role} )","/users/#{current_user.id}") %>
          </li>
          <% if current_user.role == "basic"%>
            <li>
              <%= link_to("Upgrade","/users/upgrade")%>
            </li>
          <% elsif  current_user.role == "premium"%>
            <li>
              <%= link_to("Create a course","/courses/new")%>
            </li>
            <li>
              <%= link_to("Participate a course","/courses")%>
            </li>
            <li>
              <%= link_to("Create a book","/users/recipe_book")%>
            </li>
          <% elsif current_user.role == "admin"%>
            <li>
              <%= link_to("Member","/admin/index")%>
            </li>
            <li>
              <%= link_to("Create a book","/admin/recipe_book")%>
            </li>
          <% end %>
          <li>
            <%= link_to("Meals","/meals")%>
          </li>
          <li>
            <%= link_to("New meal","/meals/new")%>
          </li>
          <li>
            <%= link_to("Search meals","/meals/search")%>
          </li>
          <li>
            <%= link_to("All users","/users")%>
          </li>
          <li>
            <%= link_to("Logout", "/logout", {method: :post})%>
          </li>
        <%else%>
          <li>
            <%= link_to("About us","/about")%>
          </li>
          <li>
            <%= link_to("Sign up","/users/new")%>
          </li>
          <li>
            <%= link_to("Login","/login")%>
          </li>
          <li>
            <%= link_to("HTTP","/http/trial")%>
          </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
